# Byte-compiled Python
__pycache__/
*.pyc
*.so
*.pyd

# Windows folders files
._*
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
Desktop.ini
ehthumbs.db
Thumbs.db
*~
*.bak

# IDE
.idea/
.project
.pydevproject
.settings/
.spyderproject
.spyproject
.vscode/

# Tests
.cache/
.coverage
.pytest_cache/

# Build
build/
dist/
/doc/_build/
.eggs/
*.egg-info/
