# Byte-compiled Python
__pycache__/
*.pyc
*.so
*.pyd

# Sphinx
/doc/_build/

# Windows folders files
Desktop.ini
Thumbs.db

# IDE
.pydevproject
.settings/
.spyderproject
.spyproject
.vscode/
.idea/

# Scripts
/*.bat
/*.sh

# Tests
.cache/
.coverage
